
@font-face {
  font-family: 'Arial';
  src: url('../lib/fonts/5hFk8t6y7fzs4Zov.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Arial';
  src: url('../lib/fonts/XQ3QXdpkp5BniyIQ.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('../lib/fonts/mfwlg7K_pK8WN6fW.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

